.headerContainer {
    height: 6rem;
    padding: 0 3rem;
    background-color: var(--light-beige);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    gap: 1rem;
    margin-left: 1rem; 
}

.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menuContainer a {
    text-decoration: none;
    color: var(--black);
    padding: 1rem;
}

.active {
    font-weight: bold;
    text-decoration: underline 2px var(--light-green);
  }