:root {
  --background-gray: #f3f3f3;
  --light-gray: #d9d9d9;
  --normal-green: #627952;
  --white: #fff;
  --light-green: #9db580;
  --light-beige: #eee1cc;
  --black-green: #3f4636;
  --brown: #705f44;
  --dark-brown: #544732;
  --black: #000;
  --dark-green: #465939;

  --orange: #FF9E88;
  --pink: #F78B98;
  --mascot-green: #567751;
  --light-blue: #79ADDC;
  --dark-blue: #5C5C6D;

  --font-heading: 32px;
  --font-subheading: 20px;
  --font-button: 20px;
  --font-heading: 32px;
  --font-body: 16px;
  --font-small-body: 12px;
  --font-logo: 36px;
}
body {
  margin: 0;
}