.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto 6rem;
    font-size: var(--font-body);
}
.main p {
    font-size: var(--font-body);
}
.title {
    font-family: 'Quicksand', sans-serif;
    margin-top: 52px;
    font-size: var(--font-logo);
}
.description {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 73px;
}
.category {
    font-weight: bold;
}
.graphicsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--background-gray);
    border-radius: 30px;
    padding: 2rem;
    margin: 72px 0 0 0;
}
.graphics {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.moodIcon p{
    text-align: center;
}
.palette {
    width: 80px;
    height: 80px;
}
.text a{
    text-decoration: none;
    color: var(--normal-green)
}
.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
}
.iconText {
    font-weight: bold;
}
.iconDescription {
    width: 80%;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 3rem;
}
.iconsItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}