.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 20vh;
  padding: 0;
  width: 60%;
  margin: 0 auto;
}

.homeTitle {
  font-family: 'Quicksand', sans-serif;
  margin: 52px 0 72px 0;
  font-size: var(--font-logo);
}

.appIntro {
  width: 75%;
  margin: 39px 0 50px 0;
}

.groupInfo {
  text-align: center;
  margin-bottom: 70px;
}
