.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    font-size: var(--font-body);
}
.title {
    font-family: 'Quicksand', sans-serif;
    margin-top: 52px;
    font-size: var(--font-logo);
}
.description {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 73px;
}
.colour{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.palette {
    width: 80px;
    height: 80px;
    background-color: #A7BF87;
}
.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-gray);
    border-radius: 30px;
    padding: 2rem;
    margin: 72px 0 122px 0;
}
.logos {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.logos p {
    font-size: var(--font-body);
    font-weight: bold;
}
.singleLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logosSecondRow {
    gap: 6rem;
}
.faviconsContainer {
    display: flex;
    flex-direction: column;
}
.favicon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}