.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    font-size: var(--font-body);
}

.typographyTitle {
    font-family: 'Quicksand', sans-serif;
    margin-top: 52px;
    font-size: var(--font-logo);
}

.logoFont {
    display: flex;
    gap: 2rem;
    margin-top: 73px;
    align-items: flex-start;
}

.quicksand {
    text-align: center;
    font-size: var(--font-body);
    font-family: 'Quicksand', sans-serif;
}

.logoFontUsage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--background-gray);
    border-radius: 30px;
    padding: 40px 15vw;
    margin: 72px 0 122px 0;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoName {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-logo);
    color: var(--dark-green);
}

.bodyFont {
    display: flex;
    gap: 2rem;
}

.dmSans {
    text-align: center;
    font-size: var(--font-body);
}

.bodyFontUsage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-gray);
    border-radius: 30px;
    padding: 40px 13vw;
    margin: 72px 0 122px 0;
}

.fontRow {
    display: grid;
    grid-template-columns: 120px 180px 100px;
    font-size: var(--font-body);
    align-items: center;
    margin: 20px 0;
}

.gridItem {
    width: 110px;
}

.link {
    color: var(--brown);
    font-weight: bold;
    text-decoration: underline;
}

.link:hover {
    color: var(--dark-green);
}

.link:active {
    color: var(--black);
}

.boldText {
    font-weight: bold;
}

.heading {
    font-size: var(--font-heading);
}

.subheading {
    font-size: var(--font-subheading);
}

.smallBody {
    font-size: var(--font-small-body);
}

.main h2 {
    margin: 0;
}